<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>target</title>
    <link rel="stylesheet" href="targetStyle.css">
</head>
<body>
    <div class="weather-app">
        <h1><%=City%></h1>
        <p>Today: <%=Type%></p>
        <p>Date: <%=Date%></p>
        <p>Temperature: <%=Temp %></p>
        <p>Humidity: <%=Humidity %></p>
        <p>Pressure: <%=Pressure%></p>
        <p>Wind: <%=WindSpeed%> km/h <%=WindSpeedDirection%></p>
        <img src=<%=img %> alt="Weather icon" class="icon">
</body>
</html>